body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#sidebar {
    background-color: #333;
    height: 1000px;
}
canvas{
    background-color: #e6e6e6;

}
button#Google i{
    padding: 5px 5px 5px 5px;
}
button#Google {
    background-color: #ff4747;
    color: #fff;
    border-color: #ff0000;
}
.user-info{
    margin-top: 9px;
    color: #fff;
}
.user-info i {
    font-size: 20px;
    margin-right: 5px;
    color: #C8E6C9;
    padding: 8px;
    border-radius: 70px;
    background-color: #4CAF50;
}
.user-info a.dropdown-toggle {
    cursor: pointer;
    color: #ccc;
}
.user-info a.dropdown-toggle:hover {
    text-decoration: none;
}
#canvas {
    margin-top: 10px;
}