@{
    ViewBag.Title = "My Board";
}
@section Scripts{

}
<div class="row">
    <aside class="col-xs-2" id="sidebar">
        <div class="input-group colorpicker-component demo demo-auto colorpicker-element">
            <input type="text" class="form-control" value="#000">
            <span class="input-group-addon"><i></i></span>
        </div>
        <div class="input-group">
            <a href="#" class="" id="undo"><i class="fa fa-rotate-left"></i></a>
        </div>

    </aside>
    <div class="col-xs-10">
        <div id="myholder">
        </div>
    </div>

</div>
<script>
    var canvas, onboardHub;
    $(document).ready(function () {
        canvas = new Canvas("myholder");
        $('.demo').colorpicker({
        }).on('changeColor', function (ev) {
            canvas.context.strokeStyle = ev.color.toHex();
            canvas.context.save();

        });
    });
</script>